:root{
    --accent: #FD850D;
    --bg : #f3f3f3;
    --text: #0c0c0c;
    --font: 'Secular One', sans-serif;
}



*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    cursor: none;
}




html, body{
    overflow: hidden;
    width: 100%;
    height:100%;
}

body {
    font-family: var(--font);
    background-color: var(--bg);
    font-display: swap;
}

body::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: 0.05;
    z-index: 1000;
    pointer-events: none;
    background: url(../img/noise.gif);
}

.nav-item{
    text-decoration: underline;
    color: var(--text);
    font-size: 15px;
    font-weight: 100;
    transform: rotate(90deg);
}

.social-list{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    right: 55%;
    height: 300px;
    width: 800px;
    margin-top: 13%;
    z-index: 100000;
    transform: rotate(90deg);
    background-color: rgba(255,255,255, 0.1);
    filter: blur(2);
}

.hover-this {
    transition: all 0.3s ease;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.5rem;
    background-color: var(--accent);
    border-radius: 50%;
    transition: transform 0.3s ease;
    z-index: 10000;
}

.hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(8);
}

nav{
    background-color: transparent;
    box-shadow: none !important;
}




nav .brand-logo {
    color: var(--text);
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 2px;
}




span{ 
    font-weight: bold;
    color: var(--accent);
    transition: 0.3s ease;
}

span:hover{ 
    color: var(--text);
}


.main-scroll{
    display: flex;
    justify-content: center;
    align-items: center;
}



.content{
    position: relative;
    width: 100vw;
    height: 100vh;
}



canvas {
    position: absolute;
    z-index: -10000;
}

#container { 
    width: 0px;
    height: 0px;
    position: relative;     
}


.content-inner-first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-inner-first h1{
    font-size: 9vw;
    color: var(--text);
}



.content-inner-second{
    width: 80%;
}

.about-intro{
    font-size: 3.3vw;
}

.about-sub{
    font-size: 30px;
}

.about-anim:before {
    content:"Developer";
    animation-name: change; 
    animation-iteration-count: infinite;
    animation-duration: 5s;
    -webkit-animation: webkit-change ease-in-out 3s infinite;
    color: var(--accent);
  }
  
  
  
  @keyframes change{
    0% {
        display: block;
        content:"Developer";
      }
      50% {
        display: block;
        content:"Designer";
        
      }
      75% {
        display: block;
        content:"Content creator";
        
      }
      100% {
        display: block;
        content:"Developer";
      }
  }


  @keyframes webkit-change{
    0% {
        display: block;
        content:"Developer";
      }
      50% {
        display: block;
        content:"Designer";
        
      }
      75% {
        display: block;
        content:"Content creator";
        
      }
      100% {
        display: block;
        content:"Developer";
      }
  }
  
  .about-list{
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: center; 
  }


  










