
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.home-sec{
    height :100%;
    width:100%;
    scroll-snap-type: y mandatory;
    overflow: scroll;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.sec1{
background-color: aqua;
}

.sec2{
    background-color: black
}