:root{
    --accent: #39ff13;
    --bg : #1e1f21;
    --text: #F3FFF1;
    --font: 'Epilogue', sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--bg)
}

#preloader {
    background: var(--bg) url(../img/Infinity-1.2s-191px.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}

.brand-logo {
    margin-left: 50%;
    margin-top: 10px;
}

header a {
 color: var(--text);
 text-decoration: none;
 font-size: 30px;
}


span{
    color: var(--accent); 
    font-weight: bold;
}



#vanta{
    position:absolute;
    z-index:-1;
    width:100%;
    height:100%;  
}


.valign-wrapper{
    margin: 0px;
	padding:0px;
	float: left;
	width:100%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
}



.intro-sec{
    margin-left: 10%;
}

.intro-sec h1{
    color: var(--text);
}

.type-con{
    display: inline-block;
	position:absolute;
    top:100%;
	transform: translateY(-50%);
}

.typewriter {
	overflow: hidden;
    color: var(--text);
	border-bottom: 4px solid var(--accent);
	white-space: nowrap;
	animation: typing 2s steps(30, end) forwards, blink 0.8s infinite;
	width: 0;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink {
	from {
		border-color: transparent;
	}
	to {
		border-color: var(--accent);
	}
}










