:root{
    --accent: #39ff13;
    --bg : #1e1f21;
    --text: #F3FFF1;
    --font: 'Epilogue', sans-serif;
}

*{
    font-family: var(--font);   
}


html, body {
    cursor: url(../img/icons8-cursor-24.png), auto;
    background-color: var(--bg);
}


.valign-wrapper{
    margin: 0px;
	padding:0px;
	width:100%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%);
}

#preloader {
    background: var(--bg) url(../img/Infinity-1.2s-191px.gif) no-repeat center;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index: 100;
}

nav{
    background-color: transparent;
    box-shadow: none !important;
}

nav .link{
    position: absolute;
    width: 25vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: -25vw;
}

nav .link ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}


nav .link ul li{
    padding: 20px;
    text-transform: capitalize;
    color: var(--text);
    cursor: url(../img/icons8-hand-cursor-24.png), auto;
    transition: 0.7s;
    font-size: 40px;
}


nav .link.active{
    right: 0;
}

nav .link ul li:hover{
    transform: scale(1.2);
}

nav .link .who-link:hover:after{
    content: "I am";
    color: var(--accent)
}

nav .link .what-link:hover::after{
    content: "I do";
    color: var(--accent)
}

nav .link .work-link{
color: var(--accent)
}


.toggle-btn{
    width: 1%;
}


nav .toggle-btn i{
    font-size: 30px;
    color: var(--accent);
    margin-left: 25px;
    cursor: url(../img/icons8-hand-cursor-24.png), auto;
}



nav .brand-logo {
    color: var(--text);
    text-decoration: none;
    font-size: 30px;
    cursor: url(../img/icons8-hand-cursor-24.png), auto;
    font-style: italic;
    font-weight: bold;
}




span{
    color: var(--accent); 
    font-weight: bold;
    margin-left: 35px;
    font-size: 55px;
}



#work{
    position:absolute;
    width:100%;
    height:100%;
    transition: 0.5s;  
}

#work.skew{
    transform: rotateY(35deg) translateX(-350px) scale(0.7);
    border: 15px solid var(--accent);
}

 #work-list{
    position: absolute;
    left: 5%;
    top: 30%;
    height: 60%;
    width: 85%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-item{
    position: relative;
    color: var(--text);
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    transition: 1s;
    cursor: url(../img/icons8-hand-cursor-24.png), auto;    
}

canvas {
    position: absolute;
    z-index: -2;
  }

h1{
    font-family: 'Bungee Outline', cursive;  
    color: var(--accent);
    opacity: 0.1;
    font-size: 300px;
}

.right-title{
    margin: 15px;
	padding:15px;
	width:100%;
	position:absolute;
	top: 90%;
	transform: translateY(-90%);
}



 